/* Margin and padding utility classes */
.mb-8px,
.my-8px {
  margin-bottom: 8px !important;
}
.mt-8px,
.my-8px {
  margin-top: 8px !important;
}
.ms-8px,
.mx-8px {
  margin-left: 8px !important;
}
.me-8px,
.mx-8px {
  margin-right: 8px !important;
}

.mb-12px,
.my-12px {
  margin-bottom: 12px !important;
}
.mt-12px,
.my-12px {
  margin-top: 12px !important;
}
.ms-12px,
.mx-12px {
  margin-left: 12px !important;
}
.me-12px,
.mx-12px {
  margin-right: 12px !important;
}

.mb-24px,
.my-24px {
  margin-bottom: 24px !important;
}
.mt-24px,
.my-24px {
  margin-top: 24px !important;
}
.ms-24px,
.mx-24px {
  margin-left: 24px !important;
}
.me-24px,
.mx-24px {
  margin-right: 24px !important;
}

.pb-8px,
.py-8px {
  padding-bottom: 8px !important;
}
.pt-8px,
.py-8px {
  padding-top: 8px !important;
}
.ps-8px,
.px-8px {
  padding-left: 8px !important;
}
.pe-8px,
.px-8px {
  padding-right: 8px !important;
}

.pb-12px,
.py-12px {
  padding-bottom: 12px !important;
}
.pt-12px,
.py-12px {
  padding-top: 12px !important;
}
.ps-12px,
.px-12px {
  padding-left: 12px !important;
}
.pe-12px,
.px-12px {
  padding-right: 12px !important;
}

.pb-24px,
.py-24px {
  padding-bottom: 24px !important;
}
.pt-24px,
.py-24px {
  padding-top: 24px !important;
}
.ps-24px,
.px-24px {
  padding-left: 24px !important;
}
.pe-24px,
.px-24px {
  padding-right: 24px !important;
}

/* Font size utility classes */
.fz-12px {
  font-size: 12px !important;
}
.fz-14px {
  font-size: 14px !important;
}
.fz-18px {
  font-size: 18px !important;
}
.fz-32px {
  font-size: 32px !important;
}

/* border classes */
.rounded {
  border-radius: 2px !important;
}

/* Color helpers */
.bg-orange {
  background-color: #ea7f28 !important;
}
.bg-gray {
  background-color: #ededed !important;
}

.text-orange {
  color: #ea7f28 !important;
}
